* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: black;
}

.card {
    border-radius: 15px;
}

#card1 {
    background-color: red;
    height: 350px;
    width: 100%;
}

#card1:hover {
    background: linear-gradient(aqua, white, blue, pink);
    box-shadow: 2px 2px 3px yellow;
    border: none;
}

#song1 {
    display: none;
}

#card2 {
    background-color: white;
    height: 350px;
    width: 100%;
}

#card2:hover {
    background: linear-gradient(yellow, white, blue);
    box-shadow: 2px 2px 3px yellow;
    border: none;
}

#song2 {
    display: none;
}

#card3 {
    background-color: gold;
    height: 350px;
    width: 100%;
}

#song3 {
    display: none;
}

#card3:hover {
    background: linear-gradient(yellow, white, blue);
    box-shadow: 2px 2px 3px yellow;
    border: none;
}

#card4 {
    background-color: green;
    height: 350px;
    width: 100%;
}

#card4:hover {
    background: linear-gradient(yellow, white, pink, blueviolet);
    box-shadow: 2px 2px 3px yellow;
    border: none;
}

#song4 {
    display: none;
}

#card5 {
    background-color: aqua;
    height: 350px;
    width: 100%;
}

#card5:hover {
    background: linear-gradient(yellow, coral, azure);
    box-shadow: 2px 2px 3px yellow;
    border: none;
}


#song5 {
    display: none;
}

#card6 {
    background-color: orange;
    height: 350px;
    width: 100%;
}

#card6:hover {
    background: linear-gradient(aqua, white, blue, pink);
    box-shadow: 2px 2px 3px yellow;
    border: none;
}

#song6 {
    display: none;
}

#card7 {
    background-color: blue;
    height: 350px;
    width: 100%;
}

#card7:hover {
    background: linear-gradient(yellow, white, blue);
    box-shadow: 2px 2px 3px yellow;
    border: none;
}

#song7 {
    display: none;
}

#card8 {
    background-color: yellow;
    height: 350px;
    width: 100%;
}

#card8:hover {
    background: linear-gradient(chocolate, azure, violet);
    box-shadow: 2px 2px 3px yellow;
    border: none;
}

#song8 {
    display: none;
}

#card9 {
    background-color: pink;
    height: 350px;
    width: 100%;
}

#card9:hover {
    background: linear-gradient(yellow, white, blue);
    box-shadow: 2px 2px 3px yellow;
    border: none;
}

#song9 {
    display: none;
}